@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --bg: #121212;
    --fg: #ffffff;
    --primary: #90caf9;
    --primary-dark: #42a5f5;
    --error: #f44336;
    --error-dark: #c62828;
    --warning: #ffa726;
}

html {
    color: var(--fg);
    background: var(--bg);
    font-family: 'Open-sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.info-panel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.start-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
}

.invert-colors {
    background: var(--fg) !important;
    color: var(--bg) !important;
}

.box-visual, .indent-box {
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
}

.indent-box {
    margin: 43px;
}

.box-visual, .main-structure-table {
    width: 100%;
}

.text-input {
    width: 80%;
}

.main-structure-table {
    display: block;
}

.mew {
    font-style: italic;
}

.main-title {
    font-size: 3rem;
    font-family: 'Jost', sans-serif;
}

.prompt-text {
    font-size: 1.2rem;
}

.control-panel {
    padding: 20px;
}

.text-input:hover, .text-input:focus, button:hover, .btn:hover {
    background-color: var(--primary-dark);
    box-shadow: 10px 10px 5px 5px rgba(34, 16, 38, 0.25);
}

.reset-colors:hover {
    background-color: var(--error-dark);
    transition: ease 200ms;
}

.confirm-colors:hover {
    background-color: var(--primary-dark);
    transition: ease 200ms;
}

.text-input, .logo, .box-visual, button, hr, .btn {
    box-shadow: 5px 5px 5px 5px rgba(34, 16, 38, 0.25);
}

.shadow-graph {
    filter: drop-shadow(5px 5px 5px rgba(34, 16, 38, 0.25));
}

.result-table {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.logo {
    border-radius: 1rem;
    margin: 25px;
}

.confirm-colors {
    color: var(--bg);
    background-color: var(--primary);
}

.reset-colors {
    color: var(--bg);
    background-color: var(--error);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button, .btn {
    margin: 5px;
}

.indent-box {
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.result-table {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background-color: var(--bg);
    padding: 10px;
}

.incorrect-input-notif {
    color: var(--error);
}

.clock, .clock-date {
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.clock {
    font-size: 6rem;
    margin: 10px;
}

.clock-date {
    font-size: 2rem;
}

.grid-radio td {
    padding: .5rem;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: var(--primary);
    background: var(--primary);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    box-shadow: 0 0 0 0.2em var(--primary);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-hover {
    border-color: var(--primary);
    background: var(--primary);
}

body .ui-radiobutton .ui-radiobutton-box {
    border: 3px solid var(--bg);
    background: var(--fg);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background: var(--bg);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-hover {
    background: var(--bg);
}

.cmdlink {
    margin-right: 20px;
}

.cmdlink:link, .cmdlink:visited, .cmdlink:hover {
    color: var(--bg);
}

.cmdlink:active {
    color: var(--error);
}

.spinner .ui-spinner-button {
    background-color: var(--primary);
    border-color: var(--primary);
}

.results-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.round {
    border-radius: 10%;
    border-color: transparent;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 2rem;
}